- become: true
  block:
    - name: Install packages required for os-loganalyze
      yum:
        name: "{{ item }}"
        state: present
      with_items:
        - gcc
        - git
        - httpd
        - mod_wsgi
        - python-devel

    - name: Enable EPEL
      yum:
        name: epel-release
        state: present
      when: ansible_distribution == "CentOS"

    - name: Also install python-pip after EPEL is enabled
      yum:
        name: python-pip
        state: present

    - name: Install mod_ssl
      yum:
        name: mod_ssl
        state: present
      when: logserver_ssl|bool

    - name: Install libselinux-python for the seboolean module
      yum:
        name: libselinux-python
        state: present

    - name: Let the os-loganalyze to connect to external swift server
      seboolean:
        name: httpd_can_network_connect
        state: yes
        persistent: yes

    - name: Clone os-loganalyze from github
      git:
        repo: "{{ logserver_repo }}"
        dest: /var/www/cgi-bin/os-loganalyze

    - name: Create os-loganalyze config directory
      file:
        path: /etc/os_loganalyze
        state: directory

    - name: Create os-loganalyze config file
      template:
        src: wsgi.conf.j2
        dest: /etc/os_loganalyze/wsgi.conf

    - name: Create os-loganalyze config file
      template:
        src: file_conditions.yaml.j2
        dest: /etc/os_loganalyze/file_conditions.yaml

    - name: Install package required during the pip install
      yum:
        name: redhat-rpm-config
        state: present
      when: ansible_distribution == "Fedora"

    - name: Install requirements for os-loganalyze
      pip:
        requirements: /var/www/cgi-bin/os-loganalyze/requirements.txt

    - name: Install os-loganalyze
      command: python setup.py install
      args:
        chdir: /var/www/cgi-bin/os-loganalyze

    - name: Create a config for apache
      template:
        src: os-loganalyze.conf.j2
        dest: /etc/httpd/conf.d/os-loganalyze.conf

    - name: Enable and restart apache
      service:
        name: httpd
        enabled: yes
        state: restarted

    - name: Install certbot
      yum:
        name: python-certbot-apache
        state: present
      when: logserver_ssl|bool and logserver_certbot|bool

    - name: Run certbot
      debug:
        msg: "Run `certbot --apache` interactively to install a proper SSL certificate."
      when: logserver_ssl|bool and logserver_certbot|bool

    - name: Add certbot cron job
      cron:
        name: renew certbot ssl certs
        minute: "23"
        hour: "*/12"
        job: "certbot renew --quiet && systemctl reload httpd"
      when: logserver_ssl|bool and logserver_certbot|bool
